h1 {
	background: url('/img/gdg_square_lg.png') 0 50% no-repeat;
	background-size: contain;
	padding: 10px 0 10px 70px;
	font-size: 24px;
	font-weight: 300;
	color: #666;
	margin-bottom: 0;
	line-height: 1.5em;
}

h1, h2, h3, h4 {
	font-family: 'Roboto';
}

h1 a {
	display: block;
	color: #555;
}

h1 a:hover {
	text-decoration: none;
}

h2 {
	font-size: 48px;
	font-weight: 400;
	text-align: center;
	color: #666;
}

.container-fluid {
	min-width: 1400px;
}
.logo-gdg {
	margin-bottom: 15px;
}

.dl-horizontal {
	padding-top: 15px;
	border-top: solid 1px #efefef;
}

.text-large {
	font-size: 18px;
}

.nav {
	margin-top: 26px;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Roboto';
}

.nav>li>a:hover {
	background-color: transparent;
}

iframe {
	border-bottom: solid 1px #eee;
}

.btn-success {
	padding: 15px 60px;
	font-size: 22px;
}