<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The Google I/O Extended Kuala Lumpur is a full day event of workshops and talks centered around the technologies announced during Google I/O 2015. You will be joined by a team of Google Developer Advocates and Google Developer Experts talking and sharing with you insights and technical details on the latest Android M, Android development, Polymer, Virtual Reality and many more!">

    <title>Google I/O Extended Kuala Lumpur on Saturday, 11 July 2015 from 9AM until 4PM at Malaysian Global Innovation &amp; Creativity Centre (MaGIC), Cyberjaya.</title>

    <!-- Open Graph metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Google I/O Extended Kuala Lumpur">
  	<meta property="og:site_name" content="GDG Malaysia">
  	<meta property="og:url" content="http://www.gdg.my/io15xkl">
  	<meta property="og:description" content="The Google I/O Extended Kuala Lumpur is a full day event of workshops and talks centered around the technologies announced during Google I/O 2015. You will be joined by a team of Google Developer Advocates and Google Developer Experts talking and sharing with you insights and technical details on the latest Android M, Android development, Polymer, Virtual Reality and many more!">
  	<meta property="og:image" content="/img/io15xkl/io15xkl-facebook-cover.png">

    <!-- Material Design Lite -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.cyan-blue.min.css" />
    <link rel="stylesheet" href="/css/io15xkl-mdl.css">
  </head>
  <body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <h1 class="mdl-layout-title">Google I/O Extended Kuala Lumpur</h1>
        </div>
      </header>

      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img src="/img/io15xkl/io15xkl-masthead.png" alt="">
        </span>
        <nav class="mdl-navigation">
          <a href="#agenda" class="mdl-navigation__link">Agenda</a>
          <a href="#venue" class="mdl-navigation__link">Venue</a>
          <a href="#ticket" class="mdl-navigation__link">Get a ticket</a>
          <a href="#faq" class="mdl-navigation__link">FAQ</a>
        </nav>
      </div>

      <main class="mdl-layout__content">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="mdl-cell mdl-cell--8-col">
            <!-- INTRODUCTION -->
            <div class="mdl-card mdl-shadow--2dp card-intro">
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">We're bringing the I/O experience to Kuala Lumpur!</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <p>The Google I/O Extended Kuala Lumpur is a full day event of workshops and talks centered around the technologies announced during Google I/O 2015. You will be joined by a team of Google Developer Advocates and Google Developer Experts talking and sharing with you insights and technical details on the latest Android M, Android development, Polymer, Virtual Reality and many more!</p>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#agenda">View agenda</a>
              </div>
            </div>

            <!-- SPONSORS AND PARTNERS -->
            <div class="mdl-grid event-partners">
              <div class="mdl-cell mdl-cell--4-col-tablet">
                <h5>Organized by</h5>
                <img class="logo-gdgkl" src="/img/io15xkl/logo-gdgkl.png" alt="">
              </div>

              <div class="mdl-cell mdl-cell--4-col-tablet">
                <h5>Supported by</h5>
                <img class="logo-googledev" src="/img/io15xkl/logo-googledevelopers.png" alt="">
              </div>
              <div class="mdl-cell mdl-cell--2-col-tablet mdl-cell--hide-desktop"></div>
              <div class="mdl-cell mdl-cell--4-col-tablet">
                <h5>Venue Supported by</h5>
                <img class="logo-mymagic" src="/img/io15xkl/logo-magic.png" alt="">
              </div>
            </div>
            <div class="mdl-grid event-partners">
              <h5 class="mdl-cell mdl-cell--12-col">Community Partners</h5>
              <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet"></div>
              <div class="mdl-cell mdl-cell--4-col">
                <img class="logo-mymagic" src="/img/io15xkl/logo-myteksi.png" alt="">
              </div>

              <div class="mdl-cell mdl-cell--4-col">
                <img class="logo-mymagic" src="/img/io15xkl/logo-jetbrains.png" alt="">
              </div>
            </div>

            <!-- AGENDA -->
            <h2 id="agenda" name="agenda">Agenda</h2>
            <div class="mdl-card mdl-shadow--2dp card-agenda-plenary">
              <div class="mdl-card__title">
                <h3 class="mdl-card__title-text">Plenary sessions</h3>
              </div>
        			<table class="mdl-data-table mdl-js-data-table">
        				<thead>
        					<tr>
        						<th>Time</th>
        						<th class="mdl-data-table__cell--non-numeric">Session</th>
        						<th class="mdl-data-table__cell--non-numeric">Speaker</th>
        					</tr>
        				</thead>
        				<tbody>
        					<tr>
        						<td>9:00 AM</td>
        						<td class="mdl-data-table__cell--non-numeric" colspan="2">Registration</td>
        					</tr>
        					<tr>
        						<td>10:00 AM</td>
        						<td class="mdl-data-table__cell--non-numeric" colspan="2">Opening introduction</td>
        					</tr>
        					<tr>
        						<td>10:05 AM</td>
        						<td class="mdl-data-table__cell--non-numeric">What's new in Android M for Developers?</td>
        						<td class="mdl-data-table__cell--non-numeric">Takuo Suzuki, Google.</td>
        					</tr>
        					<tr>
        						<td>11:00 AM</td>
        						<td class="mdl-data-table__cell--non-numeric" colspan="2">Break</td>
        					</tr>
        					<tr>
        						<td>11:15 AM</td>
        						<td class="mdl-data-table__cell--non-numeric">Polymer Starter Kit</td>
        						<td class="mdl-data-table__cell--non-numeric">Yohan Totting, Google Developer Expert.</td>
        					</tr>
        					<tr>
        						<td>12:00 PM</td>
        						<td class="mdl-data-table__cell--non-numeric" colspan="2"><em>Session to be confirmed.</em></td>
        					</tr>
        					<tr>
        						<td>12:45 PM</td>
        						<td class="mdl-data-table__cell--non-numeric" colspan="2">Break</td>
        					</tr>
        					<tr>
        						<td>2:15 PM</td>
        						<td class="mdl-data-table__cell--non-numeric">Android Design Support Library</td>
        						<td class="mdl-data-table__cell--non-numeric">Andhie Wong, Agmo Studio / GDG Kuala Lumpur.</td>
        					</tr>
        					<tr>
        						<td>3:00 PM</td>
        						<td class="mdl-data-table__cell--non-numeric">VR &amp; Google Cardboard</td>
        						<td class="mdl-data-table__cell--non-numeric">Yukio Ando, Google Developer Expert.</td>
        					</tr>
        					<tr>
        						<td>3:45 PM</td>
        						<td class="mdl-data-table__cell--non-numeric" colspan="2">Closing remarks</td>
        					</tr>
        					<tr>
        						<td>4:00 PM</td>
        						<td class="mdl-data-table__cell--non-numeric" colspan="2">Breakout</td>
        					</tr>
        				</tbody>
        			</table>
            </div>
            <br>
            <div class="mdl-card mdl-shadow--2dp card-agenda-workshops">
              <div class="mdl-card__title">
                <h3 class="mdl-card__title-text">Workshops</h3>
              </div>
              <table class="mdl-data-table mdl-js-data-table">
        				<thead>
        					<tr>
        						<th>Time</th>
        						<th class="mdl-data-table__cell-non-numeric">Workshop</th>
        						<th class="mdl-data-table__cell-non-numeric">Moderator</th>
        					</tr>
        				</thead>
        				<tbody>
        					<tr>
        						<td>11:15 AM - 12:45 PM</td>
        						<td class="mdl-data-table__cell-non-numeric">Create a watch face for Android Wear</td>
        						<td class="mdl-data-table__cell-non-numeric">Liew Jun Tung, TableApp.com / GDG Kuala Lumpur.</td>
        					</tr>
        					<tr>
        						<td>2:15 PM - 3:45 PM</td>
        						<td class="mdl-data-table__cell-non-numeric">Web Animations, Transitions and Playback Control</td>
        						<td class="mdl-data-table__cell-non-numeric">Yohan Totting, Google Developer Expert.
        					</tr>
        				</tbody>
        			</table>
            </div>
            <br>
            <div class="mdl-card mdl-shadow--2dp card-agenda-wtm">
              <div class="mdl-card__title">
                <h3 class="mdl-card__title-text">Women Techmakers</h3>
              </div>

            </div>

            <!-- SPONSORS AND PARTNERS -->
            <div class="mdl-grid event-partners">
              <div class="mdl-cell mdl-cell--4-col-tablet">
                <h5>Organized by</h5>
                <img class="logo-gdgkl" src="/img/io15xkl/logo-gdgkl.png" alt="">
              </div>

              <div class="mdl-cell mdl-cell--4-col-tablet">
                <h5>Supported by</h5>
                <img class="logo-googledev" src="/img/io15xkl/logo-googledevelopers.png" alt="">
              </div>
              <div class="mdl-cell mdl-cell--2-col-tablet mdl-cell--hide-desktop"></div>
              <div class="mdl-cell mdl-cell--4-col-tablet">
                <h5>Venue Supported by</h5>
                <img class="logo-mymagic" src="/img/io15xkl/logo-magic.png" alt="">
              </div>
            </div>
            <div class="mdl-grid event-partners">
              <h5 class="mdl-cell mdl-cell--12-col">Community Partners</h5>
              <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet"></div>
              <div class="mdl-cell mdl-cell--4-col">
                <img class="logo-mymagic" src="/img/io15xkl/logo-myteksi.png" alt="">
              </div>

              <div class="mdl-cell mdl-cell--4-col">
                <img class="logo-mymagic" src="/img/io15xkl/logo-jetbrains.png" alt="">
              </div>
            </div>

          </div>
        </div>
      </main>
    </div>
    <!-- Scripts -->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-34708146-1', 'gdg.my');
    ga('send', 'pageview');
    </script>
  </body>
</html>
